.page{
    width: 1280px;
    height: 1300px;
    margin: 80px;
}
.page-title-box{
    margin-bottom: 40px;
    display: inline;
    width: 300px;
    height: 100px;
}
.page-title-text{
    font-size: 100px;
    font-family: Roboto;
    text-decoration: none;
}
.page-title-link-ra{
    font-size: 100px;
    list-style-type: none;
    color: black;
    text-decoration: none;
    display: inline;
}
.page-title-link-mda\.js{
    list-style-type: none;
    color: #4BCAFF;
    text-decoration: none;

}
.nav-bar-box{
    height: 70px;
    background-color: #35444F;
}
.nav-bar-list{
    display: flex;
    justify-content: center;
    margin: 0;
}
.nav-bar-element{
    color: white;
    font-family: Roboto;
    font-size: 20px;
    padding: 24px;
    background-color: #35444F;
    border: 1px solid white;
}
.nav-bar-element:hover{
    background-color: #63696E;
    cursor: pointer;
}
.aside-box{
    margin-top: 50px;
    width: 350px;
    height: 502px;
    border: 1px solid #495863;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: left;
}
.aside-list{
    padding: 0;
}
.aside-box-text{
    padding: 33px;
    font-family: Roboto;
    font-size: 30px;
    list-style-type: none;
    color: #485863;
}
.aside-box-text:hover{
    cursor: pointer;
    background-color: #DBDBDB;
    color: black;
    text-align: center;
}
.main-box{
    width: 900px;
    height: 1000px;
    float: left;
}
.picture-box{
    border: 1px solid #495863;
    margin-left: 70px;
    margin-top: 49px;
    height: 600px;
    width: 853px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}
.main-image:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.main-image {
    width: 320px;
    height: 380px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.text-description-box{
    margin-top: 30px;
    margin-left: 70px;
}
.text-description{
    font-family: Roboto;
    font-size: 20px;
    color: #2C2C2C;
}
.footer-box{
    height: 75px;
    width: 100%;
    background-color: #DBDBDB;
    display: flex;
}
.footer-list{
    margin: 0;
    display: flex;
    justify-content: center;
    
}
.footer-nav-bar-elements {
    list-style-type: none;
    font-family: Roboto;
    font-size: 25px;
    padding: 20px;
}
.footer-nav-bar-links{
    text-decoration: none;
    color: black;
}
.footer-nav-bar-links:hover{
    color: #3181A6;
    text-decoration: underline;
}
.copyright{
    font-family: Roboto;
    list-style-type: none;
    font-size: 25px;
    padding-top: 23px;
    margin-left: 130px;
}